@use '../util' as *;

.container {
    margin: toRem(80);
    display: flex;
    justify-content: center;
    gap: toRem(20);


    @include breakpoint-down('medium') {
        margin: toRem(20);
    }

    &__card {
        margin-bottom: toRem(20);

        @include breakpoint-down('medium') {
            flex-flow: row wrap;
            margin: toRem(20) toRem(5);
        }
    }

    &__cardSmall {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: toRem(20);
        place-items: center;

        @include breakpoint-down('medium') {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        @include breakpoint-down('small') {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(8, 1fr);
        }
    }


}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: toRem(32);
    min-width: toRem(400);

    @include breakpoint-down('medium') {
        flex-flow: column wrap;
        justify-content: flex-end;
    }


    &__title {
        font-family: var(--font-inter);
        font-size: toRem(14);

        @include breakpoint('large') {
            font-size: toRem(18);
        }

        &--subtitle {
            font-size: toRem(12);
            color: var(--text-color2);
            margin-bottom: toRem(20);
        }
    }

}


.wraper {
    margin: toRem(80);
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
}