@use '../util' as *;

.container {
    margin: toRem(80);
    display: flex;
    justify-content: center;

    @include breakpoint-down('small') {
        margin: toRem(50);
    }
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: toRem(24);


    &__title {
        font-family: var(--font-inter);
        font-size: toRem(12);

        @include breakpoint('large') {
            font-size: toRem(18);
        }

        &--subtitle {
            font-size: toRem(12);
            color: var(--dark-text1);
        }
    }

}