@use'../util/' as *;

.card {
    width: toRem(320);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card-bg);
    padding: toRem(30);
    border-radius: toRem(10);
    box-shadow: 0 toRem(2) toRem(4) rgba(231, 227, 227, 0.1);
    transition: background-color 0.3s linear, color 0.3s linear;

    &__facebook {
        border-top: toRem(5) solid var(--facebook);
        border-radius: toRem(10) toRem(10) 0 0;
    }

    &__twiter {
        border-top: toRem(5) solid var(--twitter);
        border-radius: toRem(10) toRem(10) 0 0;
    }

    &__instagram {
        position: relative;
        border-radius: toRem(10) toRem(10) 0 0;
        overflow: hidden; // important to clip the pseudo-element

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: toRem(5);
            background: linear-gradient(to right,
                    var(--instagram-start),
                    var(--instagram-middle),
                    var(--instagram-end));
        }
    }

    &__youtube {
        border-top: toRem(5) solid var(--youtube);
        border-radius: toRem(10) toRem(10) 0 0;
    }

    @include breakpoint-down('medium') {
        width: toRem(360);
    }

    @include breakpoint-down('small') {
        width: 80%;
    }

    &__title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: toRem(10);
        margin-top: toRem(15);

        &--name {
            margin-left: toRem(8);
            color: var(--text-color2);
            font-weight: bold;
        }

        &--situp {
            font-size: toRem(12);
            color: var(--limegreen);
        }

        &--sitdown {
            font-size: toRem(12);
            color: var(--brightred);
        }
    }

    &__mainNum {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        font-size: toRem(32);
        margin-bottom: toRem(8);

        &--followers {
            font-size: toRem(11);
            letter-spacing: toRem(6);
            text-transform: uppercase;
            color: var(--text-color2);
        }
    }

    &:hover {
        background-color: var(--card-hover);
    }
}


.cardsm {
    width: toRem(260);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card-bg);
    padding: toRem(30);
    border-radius: toRem(5);
    box-shadow: 0 toRem(2) toRem(4) rgba(231, 227, 227, 0.1);

    @include breakpoint-down('medium') {
        width: 80%;
    }

    @include breakpoint-down('small') {
        width: 100%;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: toRem(8);
        margin-top: toRem(8);

        &-title {
            font-size: toRem(15);
            font-weight: bold;
            margin: 0;
            color: var(--text-color2);
        }

        &-Num {
            font-size: toRem(32);
            font-weight: bold;
            margin: 0;
        }

        &-prs {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: toRem(10);
            margin-top: toRem(15);
        }
    }

    &:hover {
        background-color: var(--card-hover);
    }
}