@use '../util' as *;

.toggle-wrapper {
    display: flex;
    flex-direction: row nowrap; // text on top, switch below
    align-items: center;
    justify-content: end;
    cursor: pointer;
    font-size: toRem(16);
    position: relative;

    @include breakpoint-down('small') {
        justify-content: start;
    }

    input.toggle {
        position: absolute;
        left: -9999px;
        opacity: 0;
    }

    .slider {
        margin-top: toRem(8);
        width: 4rem;
        height: 1.5rem;
        padding: 1rem;
        margin-left: toRem(10);
        border-radius: toRem(20);
        background: linear-gradient(135deg,
                hsl(210, 78%, 56%),
                hsl(146, 68%, 55%));
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 1.8rem;
            height: 1.8rem;
            left: toRem(3);
            top: toRem(1.9); // adjust vertically
            border-radius: 50%;
            background-color: var(--toggle-button);
            transition: all 0.6s ease-in-out;
            outline: 1px solid var(--dark-bg);
        }
    }

    input.toggle:checked+.slider::after {
        transform: translateX(100%);
        background-color: var(--dark-bg);
        outline: 1px solid var(--dark-text2);
    }
}